/* color: #123EAB; #FFD500; #FF7600; */

@font-face {
    font-family: 'Kadisoka script', 'Phenomena';
    src: url(kadisoka_script_demo_2.ttf|Phenomena-Regular.otf);
}
/*
@media screen and (max-width: 320px)
{

}
@media screen and (max-width: 768px)
{
	
}
@media screen and (max-width: 1280px)
{
	
}	*/

body {
    margin: 0;
    font-family: 'Phenomena';
    line-height: 1.5;
}
header {
    color: #C9BBAB;
    height: 100vh;
    background: lightgrey;
    margin-top: 4vh;
}
.accueil {
    height: 33%;
    width: 33%;
    margin-top: 12em;
    background: black;
    opacity: 0.5;
    font-size: 2.5vh;
    font-weight: 800;
}
h1 {
    font-family: 'Kadisoka script';
    padding-bottom: 0.5em;
    margin-top: 1em;
}
.nav {
    font-size: 2vh;
}
.nav > li > a:hover, .nav > li > a:focus {
    background: gray;
    color: powderblue;
}
section {
    height: 100vh;
    background: saddlebrown;
}
.xp {
    background: sandybrown;
}
img {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 40vh;
    width: 30vh;
}/*
#maquette1 {
    background-image: url("elements\images\maquette1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 200px;
    width: 150px;
}/*
#maquette2 {
    background-image: url("elements\images\maquette2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 200px;
    width: 150px;
}
#maquette3 {
    background-image: url("elements\images\maquette3.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 200px;
    width: 150px;
}*/
.domaine {
    background: lightslategray;
}
.contact {
    background: sandybrown;
}
footer {
    background: blue;
}