/* color: #123EAB; #FF7600; #FFD500;

font-family: 'Orbitron', sans-serif;
font-family: 'Audiowide', cursive;
font-family: 'Courgette', cursive; */

body {
    margin: 0;
    font-family: 'Audiowide', 'cursive';
    line-height: 1.5;
    background-image: url(elements/images/section-bg.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}


/* ================================== */
/* ======= section Accueil ========== */
/* ================================== */

header {
    color: #C9BBAB;
    height: 100vh;
}
.accueil {
    margin-top: 15em;
    padding: 0vh 2vh 2vh;
    font-size: 2.5vh;
    font-weight: 800;
    border-radius: 5vh;
}
#aboutme {
    font-family: 'Bad Script', sans-serif;
    font-size: 2.5vh;
    color: #FF7600;
}
h1 {
    font-family: 'Audiowide', 'cursive';
    padding-bottom: 0.5em;
}
h2 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: #FF7600;
    opacity: 0.8;
    padding-left: 10vh;
    margin: 9vh 0 4vh;
}

/* ================================== */
/* ============= navbar ============= */
/* ================================== */
.name {
    color: #FF7600;
}
.name:hover {
    color: #FFD500;
}
#sticky {
    text-transform: uppercase;
    background: transparent;
    font-size: 2.2vh;
    opacity: 0.8;
}
.nav > li > a:hover, .nav > li > a:focus {
    background: transparent;
    color: #FFD500;
}
.icon-bar {
    background: #123EAB;
}
button:active {
    background: #FFD500 !important;
}
.container-fluid > .navbar-collapse:active {
    /*display: block;*/
    color: #123EAB;
    background: #202020;
    opacity: 0.8;
}

/* ================================== */
/* ======= section compétences ====== */
/* ================================== */

#section2 {
    background-image: url(elements/images/background1.png);
    background-repeat:no-repeat;
    background-size: cover;
    color: #FF7600;
}
#langages {
    padding: 7vh 3vh;
    margin-top: 6vh;
    font-family: 'Audiowide', 'cursive';
    font-size: 3.5vh;
    background-image: url(elements/images/background2.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 0 25px #111;
    -webkit-box-shadow: 0 0 25px #111;
    -moz-box-shadow: 0 0 25px #111;
    opacity: 0.8;
    border-radius: 1vh;
}
.domaine {
    height: 100vh;
}

/* ================================== */
/* ======= section portfolio ======== */
/* ================================== */

#section3 {
    /*background-image: url(elements/images/background1.png);
    background-repeat:no-repeat;
    background-size: cover;*/
    color: #FF7600;
}
.xp {
    min-height: 100vh;
}
img {
    background-repeat: no-repeat;
    height: 40vh;
    width: 30vh;
    border-radius: 1vh;
    margin: 4vh 0;
}
.description {
    padding: 1vh;
    font-size: 2vh;
    border: 0.5vh outset #202020;
    border-radius: 0.5vh;
    color: #FF7600;
    background: #202020;
    opacity: 0.8;
}
.linkfolio:hover {
    text-decoration: none;
    color: #FFD500;
}

.js-popup {
    cursor: pointer;
    transition: 0.3s;
}
.js-popup:hover {
    opacity: 0.6;
}

.js-popup-challenge1-content {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 15vh; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9); /*color & opacité */
}

.js-popup-challenge2-content {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 15vh; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9); 
}

/* Modal folio */
.folio {
    margin: auto;
    display: block;
    height: 65vh;
    width: auto;
    border-radius: 0.5vh;
}
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Animation */
.folio, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    color: #FF7600;
    position: absolute;
    top: 10vh;
    right: 10vh;
    font-size: 5vh;
    font-weight: bold;
    transition: 0.3s;
    opacity: inherit;
}
.close:hover, .close:focus {
    color: #FFD500;
    text-decoration: none;
    cursor: pointer;
    opacity: inherit;
}

/* ================================== */
/* ======= section contact ========== */
/* ================================== */

#section4 {
    background-color: #161616;
    background-image: url(elements/images/large-bg.png);
    background-repeat:no-repeat;
    background-size: cover;
}
.contact {
    height: 94vh;
}
form {
    /*background-color: #161616;*/
    /*box-shadow: 0 0 25px #111;
    -webkit-box-shadow: 0 0 25px #111;
    -moz-box-shadow: 0 0 25px #111;*/
    color: azure;
    margin: 3vh auto 0;
    opacity: 0.9;
    border-radius: 2.5vh;
    padding: 2vh;
    font-size: 2vh;
}
input {
    width: 100%;
    margin: 3vh 0;
    padding: 2vh 0;
    border-radius: 0.5vh;
    background: transparent;
    color: #FFD500;
    border: #FF7600 solid 1px;
}
textarea {
    width: 100%;
    margin: 2vh 0;
    border-radius: 0.5vh;
    background: transparent;
    color: #FFD500;
    border: #FF7600 solid 1px;
}

button {
    background: #161616;
    color: #305F91;
    border: #FF7600 outset 0.5vh;
    border-radius: 0.5vh;
    margin: 1vh 0;
    padding: 0.5vh 0;
}

/* ================================== */
/* ============= footer ============= */
/* ================================== */

footer {
    background: #161616;
    color: #305F91;
    font-size: 2vh;
    height: 6vh;
    padding: 1.5vh 0;
}
footer a:hover {
    color: #FFD500;
    text-decoration: none;
}

/* ================================== */
/* ======== media queries =========== */
/* ================================== */

@media only screen and (max-width: 425px) {

   /* .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    #name {
         float: left;
         padding-left: 2vh;
    }
    #menu {
        visibility: hidden;
    }*/
    .folio {
        max-height: 40vh;
        margin-top: 14vh;
    }
    .close {
        color: #FF7600;
        top: 80vh;
        right: 3vh;
    }   
    #section4 {
        background-image: url(elements/images/numerique_emploi.png);
        background-repeat:no-repeat;
        background-size: cover;
        margin-bottom: -7vh;
    }
    button {
        margin: 1vh 14vh;
    }
    footer {
        background: #222222;
        color: #305F91;
        font-size: 2vh;
        height: 14vh;
        padding: 1.5vh 0;
    }
 }

/*
@media only screen and (max-width: 430px) and (max-width: 1024px) {
    footer {
        min-height: 6vh !important;
    }
 }*/ 

@media only screen and (min-width : 1280px) and (max-width : 1824px) {

    .nav {
        text-transform: uppercase;
        font-size: 2vh;
        opacity: 0.8;
    }

	#aboutme {
        font-family: 'Bad Script', sans-serif;
        font-size: 2.5vh;
        color: #FF7600;
    }
    
    h1 {
        font-family: 'Orbitron', sans-serif;
        padding-bottom: 0.5em;
        font-size: 25px;
    }
    
}
