/* color: #123EAB; #FF7600; #FFD500;
@media screen and (max-width: 320px)
{ }
@media screen and (max-width: 768px)
{ } 
font-family: 'Orbitron', sans-serif;
font-family: 'Audiowide', cursive; */

@media only screen and (min-width : 1280px) and (max-width : 1824px) {

	#aboutme {
       font-size: 14px;
       font-family: 'Audiowide', 'cursive';
    }
    h1 {
        font-family: 'Orbitron', sans-serif;
        padding-bottom: 0.5em;
        font-size: 25px;
    }
}

body {
    margin: 0;
    font-family: 'Audiowide', 'cursive';
    line-height: 1.5;
}
header {
    color: #C9BBAB;
    height: 100vh;
    background-image: url(elements/images/digital-art.png);
    background-repeat:no-repeat;
    background-attachment: fixed;
}
.accueil {
    margin-top: 15em;
    padding: 0vh 2vh 2vh;
    background: black;
    box-shadow: 0 0 25px #111;
    -webkit-box-shadow: 0 0 25px #111;
    -moz-box-shadow: 0 0 25px #111;
    opacity: 0.8;
    font-size: 2.5vh;
    font-weight: 800;
    border-radius: 5vh;
}
#aboutme {
    font-family: 'Audiowide', 'cursive';
    font-size: 2.5vh;
}
h1 {
    font-family: 'Orbitron', sans-serif;
    padding-bottom: 0.5em;
}
h2 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: #FF7600;
    padding-left: 10vh;
    margin: 9vh 0 4vh;
}
.nav {
    font-size: 2.5vh;
    opacity: 0.8;
}
.nav > li > a:hover, .nav > li > a:focus {
    background: #123EAB;
    color: #FFD500;
}

#section2 {
    background-image: url(elements/images/background1.png);
    background-repeat:no-repeat;
    background-size: 100%;
}
.xp {
    height: 100vh;
}
img {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 40vh;
    width: 30vh;
    border-radius: 2.5vh;
    margin: 4vh 0;
}/*
img:hover {
    position: absolute;
    z-index: 1;
    background-size: 100%;
    height: 70vh;
    width: 60vh;
    box-shadow: 0 0 25px #111;
    -webkit-box-shadow: 0 0 25px #111;
    -moz-box-shadow: 0 0 25px #111;
}*/
.description {
    padding: 1vh;
    font-size: 2vh;
    border: 0.5vh inset #202020;
    border-radius: 0.5vh;
    color: #FF7600;
    background: #202020;
    opacity: 0.8;
}
#section3 {
    background-image: url(elements/images/background1.png);
    background-repeat:no-repeat;
    background-size: 100%;
    color: #FF7600;
}
#langages {
    height: 40vh;
    padding: 7vh 3vh;
    margin-top: 6vh;
    font-family: 'Audiowide', 'cursive';
    font-size: 3.5vh;
    background-image: url(elements/images/num_rique.png);
    background-repeat:no-repeat;
    background-size: 100%;
    box-shadow: 0 0 25px #111;
    -webkit-box-shadow: 0 0 25px #111;
    -moz-box-shadow: 0 0 25px #111;
    opacity: 0.8;
    border-radius: 1vh;
}
.domaine {
    height: 100vh;
}
#section4 {
    background-image: url(elements/images/numerique_emploi.png);
    background-repeat:no-repeat;
    background-size: 100%;
}
.contact {
    height: 94vh;
}

/* formulaire */
form {
    background-color: #202020;
    box-shadow: 0 0 25px #111;
    -webkit-box-shadow: 0 0 25px #111;
    -moz-box-shadow: 0 0 25px #111;
    color: azure;
    margin: 3vh auto 0;
    opacity: 0.9;
    border-radius: 2.5vh;
    padding: 2vh;
    font-size: 2vh;
}

input {
    margin: 3vh 0;
    padding: 2vh 0;
    border-radius: 0.5vh;
    background: #222222;
    color: #FFD500;
    border: #FF7600 solid 1px;
}
textarea {
    margin: 2vh 0;
    border-radius: 0.5vh;
    background: #222222;
    color: #FFD500;
    border: #FF7600 solid 1px;
}
button {
    background: #222222;
    color: #305F91;
    border: #FF7600 outset 0.5vh;
    border-radius: 0.5vh;
    margin: 1vh 0;
    padding: 0.5vh 0;
}
button:hover {
    background: #123EAB;
    color: #FFD500;
}
footer {
    background: #222222;
    color: #305F91;
    font-size: 2vh;
    height: 6vh;
    padding: 1.5vh 0;
}
footer a:hover {
    color: #FFD500;
    text-decoration: none;
}